/* Tema Utama Albimo Store Pro: Biru Modern */
@import url('https://googleapis.com');

:root {
  --blue-primary: #0284c7;    /* Sky Blue Pro */
  --blue-dark: #0c4a6e;       /* Deep Ocean Blue */
  --blue-light: #e0f2fe;      /* Soft Ice Blue */
  --bg-slate: #f8fafc;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-slate);
}

/* Custom scrollbar bertema biru */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: var(--bg-slate); }
::-webkit-scrollbar-thumb { background: var(--blue-primary); border-radius: 4px; }